In [5]:
import pandas as pd
import pyarrow.parquet as pa
from sqlalchemy import create_engine

In [6]:
#Load data
df_y_taxi = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow',)

In [7]:
#Check data
df_y_taxi.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [12]:
#Get Schema to create in PG
print(pd.io.sql.get_schema(df_y_taxi, 'yellow_taxi_ny'))

CREATE TABLE "yellow_taxi_ny" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [ ]:
#Pick up and drop out columns should be TIMESTAMP columns
#But in my case it is already TIMESTAMP
#pd.to_datetime(df_y_taxi.tpep_pickup_datetime)
#pd.to_datetime(df_y_taxi.tpep_dropoff_datetime)

In [17]:
#Creaste a SQL PG engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
#Docker on
engine.connect()

In [21]:
#Get the real Schema for PG
print(pd.io.sql.get_schema(df_y_taxi, 'yellow_taxi_ny', con=engine))

CREATE TABLE yellow_taxi_ny (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [24]:
#Split the df in chunks - because of parquet format, it is not possible to chunk the data
#df_y_taxi_iter = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow', chunksize=100000)

In [27]:
#Create the "create" in PG
df_y_taxi.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [28]:
#Insert data indeed
#get parquet file
parquet_file = pa.ParquetFile('yellow_tripdata_2021-01.parquet')

for batch in parquet_file.iter_batches(batch_size=100000):
    df_bacth = batch.to_pandas()  #Converter o batch para um df do pandas
    %time
    df_bacth.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 8 μs, sys: 2 μs, total: 10 μs
Wall time: 110 μs
CPU times: user 4 μs, sys: 1e+03 ns, total: 5 μs
Wall time: 8.58 μs
CPU times: user 3 μs, sys: 0 ns, total: 3 μs
Wall time: 6.68 μs
CPU times: user 4 μs, sys: 1e+03 ns, total: 5 μs
Wall time: 11 μs
CPU times: user 4 μs, sys: 0 ns, total: 4 μs
Wall time: 7.63 μs
CPU times: user 4 μs, sys: 1e+03 ns, total: 5 μs
Wall time: 7.87 μs
CPU times: user 8 μs, sys: 1e+03 ns, total: 9 μs
Wall time: 13.4 μs
CPU times: user 11 μs, sys: 1e+03 ns, total: 12 μs
Wall time: 19.6 μs
CPU times: user 4 μs, sys: 1 μs, total: 5 μs
Wall time: 8.11 μs
CPU times: user 10 μs, sys: 1 μs, total: 11 μs
Wall time: 16.5 μs
CPU times: user 3 μs, sys: 1 μs, total: 4 μs
Wall time: 5.72 μs
CPU times: user 4 μs, sys: 0 ns, total: 4 μs
Wall time: 8.34 μs
CPU times: user 4 μs, sys: 0 ns, total: 4 μs
Wall time: 8.34 μs
CPU times: user 4 μs, sys: 1e+03 ns, total: 5 μs
Wall time: 8.58 μs